@import url(https://unpkg.com/ress/dist/ress.min.css);

body {
    background-color: black;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

img {
    width: 100%;
    height: auto;
    border: 5px solid white;
}

.poppins {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  font-size: 3rem;
}




